body, a {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #222;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0px;
}
li {
    margin: 10px;
}
.navbar {
    position: sticky;
    min-width: 800px;
    top: 16px;
    padding: 0 10px;
}
li.left {
    float: left;
}
li.right {
    float: right;
}
.icon {
    height: 18px;
}
.main {
    padding-top: 200px;
}
.buttons {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.button {
    margin: 0 3px;
}
.footer, a.footer{
    height: 40px;
    color: rgba(0,0,0,.54);
}
.country{
    padding-left: 10px;
    vertical-align: middle;
    line-height: 40px;
}
#logo {
    width: 272px;
    height: 92px;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}
#search-bar {
    width: 600px;
    height: 40px;
    display: block;
    margin: auto;
}
